@model NuevoDriver.Models.Usuario
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Model.Username
        @Model.Description
        @Model.Password
    </div>
</body>
</html>
